@()
@scripts = {
    <script src="@routes.Assets.versioned("javascripts/sysuser/sysuserimport.js")" type="text/javascript"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-file-upload.min.js"))" type="text/javascript"></script>
    <script>
            jQuery(document).ready(function () {
                angular.element("#sysUserImport").scope().init();
            });
    </script>
}
@main("SysUser","global.import.title", "sysusers", scripts) {
    <div class="card" id="sysUserImport" ng-app="SysUserImport" ng-controller="SysUserImportCtrl" ng-cloak>
        <div class="card-head card-head-sm style-primary">
            <header>@Messages.get("global.import.title", Messages.get("sysusers"))</header>
        </div>
        <div class="card-body message-center">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="50%">@Messages.get("global.name")</th>
                            <th ng-show="uploader.isHTML5">@Messages.get("global.size")</th>
                            <th ng-show="uploader.isHTML5">@Messages.get("global.progress")</th>
                            <th>@Messages.get("global.status")</th>
                            <th>@Messages.get("global.actions")</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td><strong>{{ item.file.name }}</strong></td>
                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                            <td ng-show="uploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> @Messages.get("global.upload")
                                </button>
                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> @Messages.get("global.cancel")
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <div>
                        @Messages.get("global.queueprogress")
                        <div class="progress" style="">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <input type="file" nv-file-select="" uploader="uploader" multiple />
            </div>
            <div class="card-actionbar">
                <div class="card-actionbar-row">
                    <a href="javascript:void(0);" ng-click="done()" class="btn btn-success" type="button">@Messages.get("global.done")</a>
                </div>
            </div>
        </div><!--end .card -->
    </div> <!--end .col -->
}
